<!doctype html>
<html ng-app="popup">
  <head>
    <link href="popup.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body ng-controller="MainCtrl">
    <div class="nav">
      <a href="#"
        ng-class="{ active : mode == 'day' }"
        ng-click="mode = 'day'">Day</a>
      &nbsp;|&nbsp;
      <a href="#"
        ng-class="{ active : mode == 'week' }"
        ng-click="mode = 'week'">Week</a>
      &nbsp;|&nbsp;
      <a href="#"
        ng-class="{ active : mode == 'month' }"
        ng-click="mode = 'month'">Month</a>
      &nbsp;|&nbsp;
      <a href="#"
        ng-class="{ active : mode == 'allTime' }"
        ng-click="mode = 'allTime'">All Time</a>
    </div>
    <div wt-graph mode="mode" class="graph"></div>
    <script src="https://www.google.com/jsapi"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="popup.js"></script>
    <script src="directives.js"></script>
    <script src="filters.js"></script>
    <script src="services.js"></script>
  </body>
</html>
