<!doctype html>
<html ng-app="popup">
  <head>
  </head>
  <body ng-controller="MainCtrl">
    <div>
      <a href="#" ng-click="mode = 'day'">Day</a>
      <a href="#" ng-click="mode = 'week'">Week</a>
      <a href="#" ng-click="mode = 'month'">Month</a>
      <a href="#" ng-click="mode = 'allTime'">All Time</a>
    </div>
    <div ng-switch="mode">
      <div wt-graph ng-switch-when="day"></div>
      <div wt-graph ng-switch-when="week"></div>
      <div wt-graph ng-switch-when="month"></div>
      <div wt-graph ng-switch-when="allTime"></div>
    </div>
    <script src="https://www.google.com/jsapi"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="popup.js"></script>
    <script src="directives.js"></script>
    <script src="filters.js"></script>
    <script src="services.js"></script>
  </body>
</html>
